body{
    background-color: blueviolet;
}
header h1{
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'franklin gothic medium';
    text-align: center;
    max-width: 80%;
    color: yellow;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .3rem;
}

@media(min-width: 300) and (max-width: 700){
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    nav ul:hover{
        cursor: pointer;
    }
    hr{
        display: flex;
        width: 13rem;
    }
}    